 body {
    display: flex;
    flex-direction: column;
 }
 /*/////////////////////hero//////////////////*/

.hero{
    padding: 20px 300px 60px 300px;
    background-color: #1F2937;
 }

 .header {
    display: flex;
    justify-content: space-between;
 }

 .hero-bottom {
    display: flex;
    flex-direction: row;
 }

 .hero-left, .hero-right {
    flex: 1;
 }

#image {
    color: #F9FAF8;
    background-color: grey;
    width: 680px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: centers;
    flex: 1 1 auto;
 }

ul {
    display: flex;
    gap: 10px;
    padding: 0px;
    margin: 0px;
 }

 li {
    list-style: none;
    color: #F9FAF8;
 }




 /* ///////////////////font color///////////////////////*/
 #hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
 }
#hero-secondary-text {
    font-size: 18px;
    color: #F9FAF8;
}
#hero-logo {
    font-size: 24px;
    color: #F9FAF8;

}
html {
    font-family: 'Roboto', sans-serif ;
}